body {
  background-image: url("flame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.layout {
  display: grid;
  grid-template-columns: 466px 2fr;
  gap: 1.5rem;

}

.list {
 height: 750px;
 width: 466px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 transition: all 1.2s ease;
 overflow: scroll;
 overflow-y: unset;
}

.list::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.task {
  color: whitesmoke;
  text-align: center;
  font-size: 38px;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, .0) 70%), url('your-image-url');
  border-radius: 33px
}


.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem ;
  height: 100vh;
  color: whitesmoke;
  text-align: center;
}

.weather {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, .2));
  grid-column: span 2;
  border-radius: 33px;
  box-shadow: 0 0 20px #333;
  /*box-shadow: 0 0 20px rgba(255, 0, 0, 1);*/
  backdrop-filter: blur(4px);


}

.clock {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, .2));
  border-radius: 33px;
  backdrop-filter: blur(4px);
  /*box-shadow: 0 0 20px rgba(255, 0, 0, 1);*/
  box-shadow:   0 0 4px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 24px #ff0000, 0 0 32px #ff0000, 0 0 48px #ff0000, 0 0 60px #ff0000;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  color: #333;
  height: 50px;
  max-width: 320px;
  text-align: center;
  animation: pulsebox 2s infinite ease-in-out;
  transition: all 1s ease;
  margin-left: 80px;
  z-index: -2;
}
#clock {
  font-size: 3rem;
  font-family: alarm;
  color: whitesmoke;
    text-shadow:
    0 0 4px #ff5c5c,
    0 0 8px #ff5c5c,
    0 0 12px #ff5c5c,
    0 0 16px #ff3c3c,
    0 0 24px #ff3c3c,
    0 0 36px #ff1c1c,
    0 0 48px #ff1c1c;
  animation: pulse 2s infinite ease-in-out;
}

.entry {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, .2));
  border-radius: 33px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #333;
  text-align: center;
  position: relative;
  max-height: 180px; 
  transition: all 1s ease; 
}
.entry:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
  animation: glowing-text-shadow-animation .5s ease-in-out, glow .5s ease-in-out;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
}

input[type="text"] {
  width: 40%;
  height: 20px;
  opacity: 0.8;
  font-size: 16px;
  color: whitesmoke; 
  border: black;
  box-shadow:   0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #ff0000, 0 0 50px #ff0000, 0 0 80px #ff0000, 0 0 60px #ff0000;
  background-color: transparent;
  overflow: auto;
  word-wrap: break-word;
}

.alarm {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, .2));
  border-radius: 33px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #333;
  text-align: center;
  height: 180px;
  transition: all 1s ease;
  
}
.alarm:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
  /*box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;*/
  animation: glowing-text-shadow-animation .5s ease-in-out, glow .5s ease-in-out;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;

}

input[type="number"] {
  width: 18%;
  height: 24%;
  opacity: 0.8;
  font-size: 16px;
  text-align: center;
  color: whitesmoke; /* Set the text color to black */
  border: black;
  box-shadow:   0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #ff0000, 0 0 50px #ff0000, 0 0 80px #ff0000, 0 0 60px #ff0000;
  background-color: transparent;
  overflow: auto;
  word-wrap: break-word;
  font-size: 3rem;
  font-family: alarm;
  color: whitesmoke;
  text-shadow:
  0 0 4px #ff5c5c,
  0 0 8px #ff5c5c,
  0 0 12px #ff5c5c,
  0 0 16px #ff3c3c,
  0 0 24px #ff3c3c,
  0 0 36px #ff1c1c,
  0 0 48px #ff1c1c;

  animation: pulse 2s infinite ease-in-out;
}

.quote {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, .2));
  border-radius: 33px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #333;
  height: 180px;
  transition: all 1s ease;
}

.quote:hover {
 text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
  animation: glowing-text-shadow-animation .5s ease-in-out, glow .5s ease-in-out;
  box-shadow:   0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
  z-index: 2; 
}

.list-item {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0));
  border-radius: 33px;
  color: whitesmoke;
  padding: 8px;
  backdrop-filter: blur(4px);
  width: 430px;
  height: 12 px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  box-shadow: 0 0 20px #333;
  margin-bottom: 10px;
  transition: all 1.2s ease;
  overflow: hidden;
  animation-fill-mode: forwards;
}
.list-item:hover {
  text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
  animation: glowing-text-shadow-animation .5s ease-in-out, glow .5s ease-in-out;
  box-shadow:   0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
  z-index: 2;
}
.list-item:first-child {
  margin-top: 0;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item-removed {
  opacity: 0;
  animation: move-down .8s ease-in-out;
}
.list-item-removed:hover {
  opacity: 0;
  animation: move-down .8s ease-in-out;
}

.slide {
  animation-name: slideInLeft;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

.circle {
  position: absolute;
  right: 12px;
  width: 18px;
  height: 18px;
  background-color: black; /* or any color you want */
  border-radius: 50%; /* to make it a circle */
  transition: background-color 0.2s ease-in-out; /* add a transition effect */
}


.circle:hover {
  background-color: red; /* change the background color on hover */
}


.close {
   border-radius: 50%;
   width: 14px;
   height: 14px;
   background-color: red;
}


@keyframes slideInLeft {
  from {
    transform: translate(-300%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200%);
  }
}

@font-face {
    font-family: alarm;
    src: url(alarm.ttf);
  }

.test {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, .2));
  border-radius: 33px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #333;
  text-align: center;
  position: relative; 
  color: whitesmoke; 
}
@keyframes pulse {
  0% {
    text-shadow:
      0 0 4px #ff5c5c,
      0 0 8px #ff5c5c,
      0 0 12px #ff5c5c,
      0 0 16px #ff3c3c,
      0 0 24px #ff3c3c,
      0 0 36px #ff1c1c,
      0 0 48px #ff1c1c;
  }
  100% {
    text-shadow:
      0 0 4px #ff5c5c,
      0 0 8px #ff5c5c,
      0 0 12px #ff5c5c,
      0 0 16px #ff3c3c,
      0 0 24px #ff3c3c,
      0 0 36px #ff1c1c,
      0 0 56px #ff1c1c,
      0 0 68px #ff1c1c;
  }

}

@keyframes pulsebox {
  0% {
    box-shadow:
      0 0 4px #ff5c5c,
      0 0 8px #ff5c5c,
      0 0 12px #ff5c5c,
      0 0 16px #ff3c3c,
      0 0 24px #ff3c3c,
      0 0 36px #ff1c1c,
      0 0 48px #ff1c1c;
  }
  100% {
    box-shadow:
      0 0 4px #ff5c5c,
      0 0 8px #ff5c5c,
      0 0 12px #ff5c5c,
      0 0 16px #ff3c3c,
      0 0 24px #ff3c3c,
      0 0 36px #ff1c1c,
      0 0 56px #ff1c1c,
      0 0 68px #ff1c1c;
  }
  
}

@keyframes glowing-text-shadow-animation {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
    }
  
}
@keyframes glow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
    }
  
}